@{
    ViewData["Title"] = "關於如月";

}



    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">關於如月</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="index" asp-controller="Home">如月</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">關於如月</li>
                        <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="serve" asp-controller="Home">我們的服務</a></li>
                        <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="commodity" asp-controller="Home">商品介紹</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>







    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/img/about-1.jpg" alt="店內環境"
                            title="如月點心-店內環境" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">關於如月</h6>
                    <h1 class="mb-4">歡迎來到如月</h1>
                    <p class="mb-4">點心不僅僅是美味的食物，更是一種能夠在忙碌的日常生活中帶來歡樂和安慰的享受。 本店將著重於創造令人愉悅和放鬆的點心體驗，讓消費者感受到舒緩壓力、放鬆身心的效果。</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>專業的點心師傅</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>吃的安心的新鮮食材</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>創新的商品
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>視覺與味覺上的享受</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>令人放鬆的環境</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>為顧客帶來歡樂
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/img/about-2.jpg" alt="廚房照片"
                            title="如月點心-廚房" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">如月的由來</h1>
                    <p class="mb-4">
                        如月點心店，是一家具有悠久歷史的點心店，位於繁華的市中心。我們的店名取自日本詩人芭蕉的名句「古池や蛙飛びこむ水の音」，寓意著我們店的點心能夠讓顧客像青蛙跳進古井中一樣，感受到美味與驚喜。
                    </p>
                    <p class="mb-4">
                        如月點心店的歷史可以追溯到五十年前，當時的創辦人是一位熱愛烹飪和點心文化的年輕人。他對於點心的創作擁有無窮的熱情和創意，他花了很多時間和精力研究各種點心的製作方法和口味組合。</p>
                    <div class="row gy-2 gx-4 mb-4">

                    </div>

                </div>
            </div>
        </div>
    </div>
