
@{
    ViewData["Title"] = "我們的服務";
}


    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">我們的服務</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="index" asp-controller="Home">如月</a></li>
                        <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="about" asp-controller="Home">關於如月</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">我們的服務</li>
                        <li class="breadcrumb-item"><a class="text-white" asp-area="Customer" asp-action="commodity" asp-controller="Home">商品介紹</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-thin fa-seedling text-primary mb-4"></i>
                            <h5 class="mb-3">嚴選新鮮食材</h5>
                            <p>精心挑選新鮮食材呈現季節的豐盛和美味，以確保您享受到來自大自然的最佳滋味</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-thin fa-user text-primary mb-4"></i>
                            <h5 class="mb-3">客製化服務</h5>
                            <p>您可以訂製出獨一無二的蛋糕，滿足您的特殊需求和喜好</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                            <h5 class="mb-3">線上預購</h5>
                            <p>讓您在線上直接預購對於某些季節性或限量版的點心</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-thin fa-truck-fast text-primary mb-4"></i>
                            <h5 class="mb-3">送貨到府服務</h5>
                            <p>幫您把訂好的蛋糕完好的送到您的府上</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/img/serve-1.jpg" alt="食材"
                            title="如月點心-食材" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">嚴選新鮮食材</h1>
                    <div class="row gy-4  mb-4">
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>我們以「嚴選新鮮食材」為宗旨，為您提供最高品質的點心美食
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>在這裡，我們將不斷精心挑選新鮮食材，以確保您享受到來自大自然的最佳滋味
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>我們的點心師傅們嚴格把關，以最高的標準處理每一道點心
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="~/img/serve-2.jpg" alt="客製化蛋糕"
                            title="如月點心-客製化蛋糕" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">客製化服務</h1>
                    <p class="mb-4">我們提供蛋糕定製服務，讓您可以訂製出獨一無二的蛋糕，滿足您的特殊需求和喜好。無論是生日派對、婚禮、紀念日還是其他特殊場合，我們都能為您打造一款與眾不同的蛋糕</p>
                    <div class="row gy-2  mb-4">
                        <div class="col-sm-12">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>我們的蛋糕定製服務包括以下步驟：
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>選擇蛋糕風格：您可以從我們的蛋糕風格目錄中選擇，或者提供您自己的設計概念
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>選擇蛋糕口味：我們提供多種口味的蛋糕供您選擇，包括巧克力、香草、檸檬、草莓、榛子等。您也可以選擇多層蛋糕，每層使用不同口味
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>選擇蛋糕尺寸：根據您的需求和人數，我們提供不同尺寸的蛋糕選項。您可以選擇迷你蛋糕、單層蛋糕或多層蛋糕
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>客製化設計：如果您有特殊的主題或圖案需求，我們的師傅可以根據您的要求進行客製化設計。您可以提供圖片、插畫或描述，我們將努力實現您的設計理念。
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>食材選擇：我們使用新鮮高品質的食材製作蛋糕，您可以選擇蛋糕的內層填充物和外層餡料，如奶油、鮮果、巧克力醬等。
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>附加要求：如果您有其他附加要求，如特殊食材限制、添加訊息或名字等，請提前告知我們，我們會盡力滿足您的需求。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100 ">
                        <img class="img-fluid position-absolute w-75 " src="~/img/serve-3.svg" alt="預購" title="如月點心-預購"
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">線上預購</h1>
                    <div class="row gy-4  mb-4">
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>重要的提醒！對於季節性或限量版的點心，預購期限和供應情況確實需要特別注意
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>另外，供應情況也是一個需要關注的因素。某些季節性或限量版的點心可能因為熱門或獨特而供不應求，因此可能有供應數量限制或預訂額滿的情況。在預購前，最好先確認該點心的供應情況，以免錯過機會
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>如果您確定想要預購某款季節性或限量版的點心，建議您儘早行動，以確保能夠在預購期間內完成訂購。預先了解相關的資訊和期限，有助於您在合適的時間內進行訂購，並確保能夠品嚐到您喜愛的點心
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>希望這些資訊對您有所幫助，祝您預購順利並享受美味的點心！
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-75 " src="~/img/serve-4.svg" alt="送貨" title="如月點心-送貨"
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="mb-4">送貨到府服務</h1>

                    <div class="row gy-4  mb-4">
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-arrow-right text-primary me-2"></i>我們將竭盡所能，確保您所訂購的蛋糕完好地送到您的府上
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <p class="mb-0"><i
                                    class="fa fa-thin fa-list-ul text-primary me-2"></i>為了確保蛋糕的安全送達，我們會選擇合適的包裝材料，將蛋糕固定好，避免在運送過程中損壞。我們的配送團隊將小心翼翼地將蛋糕送到您指定的地址，確保它完好無損地抵達
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

